<ActionBar>
    <Label text="Catálogo"></Label>
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" />
</ActionBar>

<ScrollView>
    <StackLayout>
        <StackLayout margin="20">
            <Label col="0" textAlignment="center" text="ELIJE EL PRODUCTO DE TU AGRADO" class="fas titul_big"></Label>
            <SegmentedBar [items]="mySegmentedBarItems"
                        selectedIndex="0"
                        (selectedIndexChange)="onSelectedIndexChange($event)">

            </SegmentedBar>

            <StackLayout [visibility]="ver_item0 ? 'visible' : 'collapsed'">
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/brooklyn_nets.png"></Image>

                    <Label class="h2" text="CONJUNTO JORDAN" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $200.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/brooklyn_nets.png"></Image>

                    <Label class="h2" text="PANTALÓN VERDE" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $120.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
            </StackLayout>

            <StackLayout [visibility]="ver_item1 ? 'visible' : 'collapsed'">
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/brooklyn_nets.png"></Image>

                    <Label class="h2" text="PANTALÓN CAFÉ" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $130.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/brooklyn_nets.png"></Image>

                    <Label class="h2" text="BUZO STICH" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $150.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
            </StackLayout>

            <StackLayout [visibility]="ver_item2 ? 'visible' : 'collapsed'">
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/calcetas.png"></Image>

                    <Label class="h2" text="MEDIAS NIKE" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $20.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/jordan.png"></Image>

                    <Label class="h2" text="BUZO JORDAN" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $200.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
            </StackLayout>

            <StackLayout [visibility]="ver_item3 ? 'visible' : 'collapsed'">
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/calcetas.png"></Image>

                    <Label class="h2" text="BUZO STICH" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $200.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
                <StackLayout class="p-5 m-l-15 m-r-15 m-b-15 text-center" id="info_p" backgroundColor="lightgray" width="420px">
                    <Image src="~/app/images/calcetas.png"></Image>

                    <Label class="h2" text="CAMISA ROSADA" textWrap="true"></Label>
                    <Label class="h3" text="Precio: $200.000"></Label>
                    <Button text="COMPRAR" [nsRouterLink]="['/productos']" style="color: white; background-color: rgb(255, 0, 0); border-radius: 10%;" fontWeight="bold"></Button> />
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout>
            <GridLayout rows=" *, auto" height="100%">
                <page-router-outlet row="0"></page-router-outlet>
                <StackLayout>
                    <GridLayout rows=" *, auto" height="100%">
                        <page-router-outlet row="0"></page-router-outlet>
                        <StackLayout dock="bottom" row="1" orientation="horizontal" horizontalAlignment="center">
                            <Button class="fas" dock="bottom" [nsRouterLink]="['/perfil']" text="&#xf007;"></Button>
                            <Button class="fas" dock="bottom" [nsRouterLink]="['/tienda']" text="&#xf54f;"></Button>
                            <Button class="fas" dock="bottom" [nsRouterLink]="['/home']" text="&#xf015;"></Button>
                            <Button class="fas" dock="bottom" [nsRouterLink]="['/carrito']" text="&#xf07a;"></Button>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>

